
@{
    int id = ViewBag.Id;
}

@model PackageManager.Models.Package

<div class="row itemInputRow" id=@($"itemRow{id}")>
    <input type="hidden" name="Items.Index" value=@($"{id}") />

    <div class="col-sm-3 itemInputContainer">
        <div class="row">
            @Html.LabelFor(Model => Model.Items[id].Name)
        </div>
        <div class="row">
            @Html.EditorFor(Model => Model.Items[id].Name)
        </div>
        <div class="row">
            @Html.ValidationMessageFor(Model => Model.Items[id].Name)
        </div>
    </div>
    <div class="col-sm-3 itemInputContainer">
        <div class="row">
            @Html.LabelFor(Model => Model.Items[id].Address)
        </div>
        <div class="row">
            @Html.EditorFor(Model => Model.Items[id].Address)
        </div>
        <div class="row">
            @Html.ValidationMessageFor(Model => Model.Items[id].Address)
        </div>
    </div>
    <div class="col-sm-3 itemInputContainer">
        <div class="row">
            @Html.LabelFor(Model => Model.Items[id].Mass)
        </div>
        <div class="row">
            @Html.EditorFor(Model => Model.Items[id].Mass)
        </div>
        <div class="row">
            @Html.ValidationMessageFor(Model => Model.Items[id].Mass)
        </div>
    </div>
    <div class="col-sm-1 d-flex justify-content-center itemInputDeleteButtonContainer">
        <button type="button" class="btn btn-danger" onclick=@($"deleteItemRow({id})")>Remove</button>
    </div>
</div>