@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int id = ViewBag.Id;
}

@model PackageManager.Models.Package

<div class="row" style="border: solid #aaaaaa 1px; padding: 10px; margin-top: 20px; margin-bottom: 20px" id=@($"itemRow{id}")>
    <div class="col-sm-3">
        <div class="row">
            @Html.LabelFor(Model => Model.Items[id].Name)
        </div>
        <div class="row">
            @Html.EditorFor(Model => Model.Items[id].Name)
        </div>
        <div class="row">
            @Html.ValidationMessageFor(Model => Model.Items[id].Name)
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            @Html.LabelFor(Model => Model.Items[id].Address)
        </div>
        <div class="row">
            @Html.EditorFor(Model => Model.Items[id].Address)
        </div>
        <div class="row">
            @Html.ValidationMessageFor(Model => Model.Items[id].Address)
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            @Html.LabelFor(Model => Model.Items[id].Mass)
        </div>
        <div class="row">
            @Html.EditorFor(Model => Model.Items[id].Mass)
        </div>
        <div class="row">
            @Html.ValidationMessageFor(Model => Model.Items[id].Mass)
        </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-danger" onclick=@($"deleteItemRow({id})")>Remove</button>
    </div>
</div>